* {
	cursor: url(https://cur.cursors-4u.net/games/gam-4/gam308.cur),
		auto;
}

html, body {
	min-width: 500px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	align-items: center;
	display: block;
	background: url('../src/img/background-l.png') no-repeat center;
}

ul {
	text-align: center;
}

li {
	float: left;
	align-items: start;
	list-style: none;
	margin: 3px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #FFFFFF;
	border-radius: 10px;
}

.area {
	height: calc(100% - 106px);
}

#notice {}

#header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.1);
}

#speaker {
	cursor: pointer;
	margin: auto 1em;
	width: 4em;
	height: 4em;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../src/img/sound.png');
}

#speaker.soundOff {
	background-image: url('../src/img/noSound.png');
}

#submit {
	display: flex;
	margin: auto 1em;
	width: 150px;
	height: 63px;
	/* background: url('../src/img/submit.png') no-repeat center right; */
}

#menu {
	z-index: 9999;
	position: absolute;
	width: 100%;
	height: 20em;
	margin: 0 auto;
}

#selectArea {

	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 100%;
	height: 100%;
}

#colorPicker {
	background-color: rgba(0, 0, 0, 0.5);
	display: inline;
	margin: 0 0.5em;
	width: 300px;
	height: 100%;
	overflow: auto;
}

#flowerPicker {
	background-color: rgba(0, 0, 0, 0.5);

	display: inline;
	margin: 0 0.5em;
	width: calc(100% - 305px);
	height: 100%;
	overflow-y: scroll;
	font-size: xx-large;
}

#popBtn {
	display: flex;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0 0 50px 50px;
	margin: 0 auto;
	height: 50px;
	width: 70px;
	color: #FFFFFF;
}

#popBtn img {
	margin: auto;
	height: 30px;
	width: 30px;
}

#body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#main {
	position: relative;
	display: flex;
	justify-content: center;
	/* background-color: rgba(255, 255, 255, 0.1); */
	width: 900px;
	height: calc(100% - 106px);
	margin: 0 auto;
}

#basicFrame {
	display: block;
	position: absolute;
	margin: 4em auto;
	width: 600px;
	height: 600px;
	background-color: rgba(255, 255, 255, 0.4);
}

#customArea {
	display: block;
	position: absolute;
	margin: 4em auto;
	width: 600px;
	height: 600px;
	background-color: rgba(255, 255, 255, 0.4);
}


#footer {
	display: flex;
	position: absolute;
	bottom: 0;
	align-items: center;
	height: 100px;
	width: 100%;
}

#reset {
	margin: auto 1em;
	width: 200px;
	height: 100px;
}

.active {}

.disable {
	display: none !important;
}

.pointer {
	cursor: pointer;
}

.grab {
	cursor: pointer !important;
}

/* 모바일 */
@media (max-width: 767px) {
	#menu {
		height: calc(70%);
		margin: 0 auto;
	}

	#selectArea {
		flex-direction: column;
		justify-content: center;
	}

	#colorPicker {
		display: inline-block;
		white-space: nowrap;
		margin: 0;
		width: 100%;
		height: 230px;
	}

	#flowerPicker {
		margin: 0.2em 0 0;
		width: 100%;
	}

	#main {
		margin: 5em auto;
		width: 400px;
		height: 400px;
		background-color: red;
	}

	#basicFrame {
		margin: auto;
		width: 400px;
		height: 400px;
	}

	#customArea {
		margin: auto;
		width: 400px;
		height: 400px;
	}

	#footer {
		margin-left: 10px;
		height: 30px;
		bottom: 2.5em;
	}

	ul {
		text-align: center;
	}

	li {
		list-style: none;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {

	#menu {
		height: 70%;
	}

	#selectArea {
		flex-direction: column;
		justify-content: center;
	}

	#colorPicker {
		margin: 0;
		width: 100%;
		height: 8em;
		overflow-x: scroll;
	}

	#flowerPicker {
		margin: 0.5em 0 0;
		width: 100%;
	}

	#main {
		max-width: 600px;
		max-height: 700px;
		overflow-x: scroll;
		overflow-y: hidden;
	}
}